# Clean Data from Downloaded Form

In [1]:
import numpy as np
import pandas as pd

In [9]:
diabetes = pd.read_csv('./Data/pima-indians-diabetes.csv')
diabetes.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [10]:
estranged_row = ['6', '148', '72', '35', '0', '33.6', '0.627', '50', '1']
diabetes.columns = ['times_pregnant', 'glucose_concentration', 'blood_pressure', 'Triceps_skinfold_thickness',
              '2_Hour_serum_insulin', 'BMI', 'diabetes_pedigree_function', 'Age', 'Class_Variable']
diabetes.loc[len(diabetes.index)] = estranged_row
diabetes

,times_pregnant,glucose_concentration,blood_pressure,Triceps_skinfold_thickness,2_Hour_serum_insulin,BMI,diabetes_pedigree_function,Age,Class_Variable
0,1,85,66,29,0,26.6,0.351,31,0
1,8,183,64,0,0,23.3,0.672,32,1
2,1,89,66,23,94,28.1,0.167,21,0
3,0,137,40,35,168,43.1,2.288,33,1
4,5,116,74,0,0,25.6,0.201,30,0
...,...,...,...,...,...,...,...,...,...
763,2,122,70,27,0,36.8,0.34,27,0
764,5,121,72,23,112,26.2,0.245,30,0
765,1,126,60,0,0,30.1,0.349,47,1
766,1,93,70,31,0,30.4,0.315,23,0
767,6,148,72,35,0,33.6,0.627,50,1

In [11]:
diabetes.to_csv('./Data/pima-indians-diabetes-cleaned.csv', index=False)